:root{
    --bg: #FFFEE3;
    --accent: #2D3958;
    --secondary: #52679F;
    --close: #EA5757;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Black.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'GS';
    src: url('fonts/GeneralSans-Bold.otf') format('truetype');
    font-weight: normal;
}

.accent{
    color:var(--accent);
}

.down{
    transition: all 0.3s;
    transform: rotate(0deg);
}

.up{
    transform: rotate(-180deg);
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:20px;
    /* height: 150vh; */
    overflow-x: hidden;
    background-color: var(--bg);
    /* max-width: 500px; */
  }

section{
    display:flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    margin-bottom: 100px;
    /* position: fixed; */
    max-width: 500px;
}

select{
    width:100%;
}

h1 {
    text-align: center;
    /* width: 100px; */
    font-family: 'GS';
    font-size: 36px;
    color: var(--accent);
}

h3{
    margin:15px;
}

h4{
    margin:0;
}

label {
    font-weight: bold;
    color: var(--accent);
}

#recipe-details {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary);
    font-family: 'Satoshi';
    color: var(--bg);
    font-size: 25px;
}

button{
    width:100%;
    border:none;
    background-color: var(--accent);
    color: var(--bg);
    border-radius: 10px;
    font-size: 22px;
    z-index: 1;
    display: flex;
    font-family: 'Satoshi';
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.dropdown{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    font-family: 'Satoshi';
}

.options{
    display:none;
    background-color: var(--secondary);
    width:97%;
    border-radius: 0px 0px 10px 10px;
    transform: translateY(-2px);
}

.option{
    text-align: center;
    font-size: 20px;
    color: var(--secondary);
    padding: 18px 10px;
    background-color: var(
    --accent);
    /* border-bottom: 2px solid; */
    border-radius: 5px;
    margin: 10px;
}

.visible{
    display:block;
}

.selected{
    background-color: var(--bg);
    color: var(--accent);
}

.title{
    background-color: var(--bg);
    color:var(--accent);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 27px;
    /* border: 8px solid var(--accent); */
}

.close{
    background-color: var(--close);
    margin-top:10px;
}

a{
    text-decoration: none;
}

.done{
    background-color: var(--secondary);
    box-sizing: border-box;
}

.back{
    margin-top:20px;
}

.label{
    color: var(--secondary);
    font-size: 29px;
    margin-bottom:10px;
}

input{
    border: 3px solid var(--accent);
    outline:none;
    padding: 0;
    border-radius: 5px;
    background-color: var(--secondary);
    padding: 3px;
    color: var(--accent);
    font-size: 25px;
    font-weight: bold;
    width: 50px;
    margin-left:5px;
}

.cash{
    display:flex;
    flex-direction: column;
}

.drawer{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    /* width: 45%; */
    margin-top: 30px;
}

.register,
.moneycontainer{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.register h1,
.moneycontainer h1{
    color:var(--bg);
    text-align: center;
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: center;
}

.container{
    margin-bottom: 50px;
}

#cash-sale{
    /* border:2px solid var(--bg); */
    box-sizing: border-box;
    margin-left:20px;
    width:70px;
}

.receipt{
    width:100%;
    margin:30px 0;
    border-radius: 10px;
    border: 5px solid var(--accent);
}

.register a{
    border:5px solid var(--secondary);
    padding:2px 12px;
    border-radius: 10px;
    font-size: 25px;
    transition: all 0.3s;
}

.register a:active{
    background-color: var(--secondary);
    color: var(--accent);
}

.top{
    margin-top:30px;
}

#totals,
#online-orders{
    background-color: var(--secondary);
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
}

.online{
    width: 60px;
    margin-left: 20px;
}

h2{
    margin:10px;
}

.calctotal{
    width:80%;
    background-color: var(--secondary);
    color: var(--accent);
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
    transition: all 0.5s;
}

.calctotal:active{
    background-color: var(--accent);
    color: var(--secondary);
}